<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Dice Roller</title>{% endblock %}
</head>
<body>
 <h1>Hello, my name is {{my_name}}</h1>
 <label>How many dice would you like to roll?</label>
 <input type="number"></input>

 <label for "sides">What type of dice would you like to roll?</label>
 <select name="sides" id="sides">
 <option value="4">d4</option>
 <option value="6">d6</option>
 <option value="8">d8</option>
 <option value="10">d10</option>
 <option value="12">d12</option>
 <option value="20">d20</option>
 </select>

</body>
</html>